doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title=title
    body
        p=index
        p filename 为pug选项中自带的属性，是要编译的代码的文件名。
        p=filename
        p haha
        p 用户名为 #{user} 打开的文件为 #{file}

